.card-game {
  &__header {
    aspect-ratio: 3/2;
    overflow: hidden;
    position: relative;

    img,
    .details {
      height: 100%;
    }

    .details {
      position: absolute;
      left: 0;
      top: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: $dark;
      z-index: 1;
      width: 100%;
      transition: all 0.3s ease;

    }
    &:hover .details {
      top: 0;
    }
  }

  &__platforms {
    display: flex;

    .icon {
      position: relative;
      margin: 0.4rem;

      .hover {
        position: absolute;
        bottom: -80%;
        left: 50%;
        transform-origin: left;
        transform: translateX(-50%);
        visibility: hidden;
        opacity: 0;
        color: white;
      }

      &:hover .hover {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}