body {
  background-color: $dark;
  padding: spacing("medium-lg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header,
main,
footer {
  width: 100%;
  max-width: $max-width;
}