*,
*::before,
*::after {
  line-height: $global-line-height;
}

html {
  font-size: $global-font-size;
  font-family: $global-font-family;
  color: white;
}

h1 {
  color: red;
  @include big-heading;
}

h3,
.show-more {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: spacing("very-small") 0;
}

h4 {
  color: white;
  font-size: 1.125rem;
}

.tags {
  color: white;
  font-size: 0.75rem;
}

p {
  font-weight: 400;
}