.page-list {
  .description {
    margin-bottom: spacing("medium");

    h2 {
      @include big-heading;
      margin-bottom: spacing("small");
    }

    p {
      margin-bottom: spacing("medium-lg")
    }

    select {
      @include button;

      option {
        background-color: $dark;
        padding: 0.4em 1.5em;
      }
    }
  }

  
  .show-more {
    @include button;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: spacing("large");
    padding: 1em 3em;

    @include mobile {
      font-size: 1rem;
    }
  }
}
