@mixin big-heading {
  font-size: 4rem;
  font-weight: 700;

  @include tablet {
    font-size: 2rem;
  }
}

@mixin button {
  padding: 0.4em 1.5em;
  background-color: $red;
  color: white;
  border: none;
}

@mixin tablet {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 500px) {
    @content;
  }
}