@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// Global

$global-font-size: 16px;
$global-line-height: calc(1em + 0.5rem);
$global-font-family: "Lato", sans-serif;
$max-width: 1400px;

// Colors

$red: rgb(210, 10, 50);
$grey:rgb(97, 97, 97);
$dark: rgb(25, 25, 25);

// Spacings

$spacings: (
  "small": 1.25rem,
  "medium-sm": 1.5rem,
  "medium": 1.75rem,
  "medium-lg": 2rem,
  "large": 2.75rem
);
