.articles {
  display: grid;
  grid-gap: spacing("small");
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 1150px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(1, 1fr);
  }
}